<div class="container mt-5" style="max-width: 500px;">
  <div class="card shadow">
    <div class="card-body p-4">
      <h3 class="card-title text-center mb-4">Définir un nouveau mot de passe</h3>

      <div *ngIf="message" class="alert alert-success">
        {{ message }}<br>
        <small>Redirection vers la connexion...</small>
      </div>

      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

      <form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="token && !message">

        <div class="mb-3">
          <label class="form-label">Nouveau mot de passe</label>
          <input type="password" class="form-control" [(ngModel)]="form_data.newPassword" name="newPassword" required minlength="8">
        </div>

        <div class="mb-3">
          <label class="form-label">Confirmer le mot de passe</label>
          <input type="password" class="form-control" [(ngModel)]="form_data.confirmPassword" name="confirmPassword" required>
        </div>

        <button type="submit" class="btn btn-success w-100" [disabled]="isLoading">
           {{ isLoading ? 'Validation...' : 'Changer le mot de passe' }}
        </button>
      </form>
    </div>
  </div>
</div>
